.label {
    -fx-padding: 10;
    -fx-margin: 5;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-background-color: white;
    -fx-width: 100%
}
#button, #text {
    -fx-text-fill: blue;
}
#vbox {
    -fx-padding: 5;
}
#hbox {
    -fx-margin: 10;
}
